PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:secret@db:5432/postgres
REDIS_URL=redis://default:secret@redis:6379/0
AUTH_SECRET=auth-secret
APP_NAME="[Local] Evonet Shopify"
APP_HOST= # your ngrok url
SHOPLAZZA_APP_ID= # obtain from shoplazza manager
SHOPLAZZA_CLIENT_ID= # see shoplazza app config
SHOPLAZZA_CLIENT_SECRET= # see shoplazza app config
LINKPAY_BASE_URL=https://sandbox.evonetonline.com/interaction
