PORT=3000
NODE_ENV=development
DATABASE_URL=mysql://root:secret@host.docker.internal:3307/app
AUTH_SECRET=auth-secret
APP_NAME="[Local] Evonet Shopify"
APP_HOST=localhost
SHOPLAZZA_APP_ID=
SHOPLAZZA_CLIENT_ID=
SHOPLAZZA_CLIENT_SECRET=
